.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #0abde3;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.checkbox:checked {
  background-color: #54a0ff;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0;
  left: 3px;
}
